body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f9fe;
  color: #186f78;
}

main {
  padding-top: 6rem;
  padding-left: 6rem;
  padding-right: 8rem;
}

.tabs {
  margin-top: 20px;
}

.tabs .tablinks {
  padding: 10px 20px;
  background-color: #05555c;
  color: #f6f9fe;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  outline: none;
  font-size: 1rem;
}

.tabs .tablinks:hover {
  background-color: #f6f9fe;
  color: #186f78;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.tabcontent {
  display: none;
  margin-top: 20px;
}

.tabcontent.active {
  display: block;
}

#Education i,
#Skills p {
  display: block;
  margin-bottom: 5px;
}

.content-box ul li {
  margin-bottom: 15px; /* Adjust the value as needed */
}

.content-box {
  background-color: #f6f9fe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content-box:hover {
  background-color: #eaf3fa;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.tabcontent h3 {
  color: #05555c;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tabcontent p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.tabcontent p:last-child {
  margin-bottom: 0;
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  width: calc(33.33% - 20px);
  background-color: #f6f9fe;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.box:not(:last-child) {
  margin-right: 20px;
}

.box img {
  width: 50px;
  height: 50px;
}

.underline {
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

h1,
h2 {
  color: #05555c;
}

.profile-container {
  display: flex;
  align-items: flex-start;
}

.profile-content {
  flex-grow: 1;
  padding-left: 50px;
}

.about {
  margin: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Space between social icons */
}

.social-links li {
  display: inline;
  margin-right: 5px;
}

.social-icon {
  width: 35px; /* Adjust size as needed */
  height: 35px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  margin-right: 5px;
}

.social-icon:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.social-links a:hover .social-icon {
  transform: scale(1.2); /* Scale up the icon on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.social-links img {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

.resume-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #05555c;
  color: #f6f9fe;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.resume-btn:hover {
  background-color: #f6f9fe;
  color: #05555c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.paragraph-box {
  background-color: #f6f9fe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.paragraph-box p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.paragraph-box p {
  margin-bottom: 0;
}

.header-hidden,
.header-visible {
  transform: translateY(0);
  transition: transform 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure the header is above other elements */
}

.profile-image-wrapper {
  position: relative;
  width: fit-content;
  margin-top: 85px;
  z-index: 1; /* Ensure the profile image is below the header */
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  z-index: 1; /* Ensure the profile image is below the header */
  position: relative;
}

.profile-image-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 2px solid #05555c;
  border-radius: 12px;
  z-index: 0;
}

.profile-image-wrapper::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 2px solid #05555c;
  border-radius: 12px;
  z-index: 0;
}
